[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=ben-24
Group=www-data
WorkingDirectory=/home/ben-24/Example_project/django_todo_postgres
UMask=007
ExecStartPre=/bin/bash -c 'mkdir -p /home/ben-24/Example_project/django_todo_postgres && chown ben-24:www-data /home/ben-24/Example_project/django_todo_postgres'
ExecStart=/home/ben-24/Example_project/django_todo_postgres/.venv/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/ben-24/Example_project/django_todo_postgres/gunicorn.sock config.wsgi:application

[Install]
WantedBy=multi-user.target
