[Unit]
Description=todocorn daemon
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/django_todo_postgres
UMask=007
ExecStartPre=/bin/bash -c 'mkdir -p /home/ubuntu/django_todo_postgres && chown ubuntu:www-data /home/ubuntu/django_todo_postgres'
ExecStart=/home/ubuntu/django_todo_postgres/.venv/bin/gunicorn --bind 127.0.0.1:8000 config.wsgi:application --config /home/ubuntu/django_todo_postgres/deploy/gunicorn.conf.py

[Install]
WantedBy=multi-user.target
